*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.highway{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(road.jpg);
    position: absolute;
    bottom: 0;
    left:0 ;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 10s linear infinite;
}

@keyframes highway{

    100%{
        transform: translateX(-3400px);
    }
}

.city{
    height: 250px;
    width: 500%;
    background-image: url(city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 25s linear infinite;
}

@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}

.car{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.car img{
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car {
    100%{
        transform: translateY(-1px);
        
    }

    50%{
        transform: translateY(1px);

    }

    0%{
        transform: translateY(-1px);

    }
}



.wheel{
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;

}


.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}

.back-wheel {
    left: -165px;
    position: absolute;
    
}
.front-wheel {
    left: 80px;
    position: absolute;
}

@keyframes wheel{
    100%{
    transform: rotate(360deg);
    }
}

.plane{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: air 10s linear infinite;
    position: absolute;
    left: 0%;
}

.plane img{
    width: 10%;
    height: auto;
}

@keyframes air{
    0%{
        transform: translatey(50px);
        transition: 10s ease-in;
    }
    100%{
        transform: translateX(1400px);
        transition:10s ease-in ;
    }


   
}
.bird-container {
   position: absolute;
   margin-left: -60px;
    left: 200px;
    top: 50px;
    margin-left: 50px;
  }
  .bird {
    background-image: url("http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg");
    background-size: auto 100%;
    width: 86px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: -0.5s;
  }
  
  .bird--one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
.bird-container1 {
   position: absolute;
    left: 2px;
    top: 0px;
    margin-left: 50px;
  }
  .bird {
    background-image: url("http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg");
    background-size: auto 100%;
    width: 86px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: -0.5s;
  }
  
  .bird--one2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
.bird-container2 {
   position: absolute;
    left: 2px;
    top: 100px;
    margin-left: 50px;
  }
  .bird {
    background-image: url("http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg");
    background-size: auto 100%;
    width: 86px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: -0.5s;
  }
  
  .bird--one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
  .bird-container--one {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-delay: 0;
    animation-delay: 0;
  }
  
  @keyframes fly-right-one {
    0% {
      left: -10%;
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
    10% {
      left: 10%;
      -webkit-transform: translateY(2vh) scale(0.4);
      transform: translateY(2vh) scale(0.4);
    }
    20% {
      left: 30%;
      -webkit-transform: translateY(0vh) scale(0.5);
      transform: translateY(0vh) scale(0.5);
    }
    30% {
      left: 50%;
      -webkit-transform: translateY(4vh) scale(0.6);
      transform: translateY(4vh) scale(0.6);
    }
    40% {
      left: 70%;
      -webkit-transform: translateY(2vh) scale(0.6);
      transform: translateY(2vh) scale(0.6);
    }
    50% {
      left: 90%;
      -webkit-transform: translateY(0vh) scale(0.6);
      transform: translateY(0vh) scale(0.6);
    }
    60% {
      left: 110%;
      -webkit-transform: translateY(0vh) scale(0.6);
      transform: translateY(0vh) scale(0.6);
    }
    100% {
      left: 110%;
      opacity: 1;
      -webkit-transform: translateY(0vh) scale(0.6);
      transform: translateY(0vh) scale(0.6);
    }
  }

  .test{
    width: 40px;
	height: 40px;
	position: absolute;
	left: 60%;
    top: -100px;
	font-size: 100px;
	animation: parachute 5s  infinite ease-in-out;
  }
.test img{
    width: 40px;
    height: 40px;

}
  .test2{
    width: 40px;
	height: 40px;
	position: absolute;
	left: 55%;
    top: -200px;
	font-size: 100px;
	animation: parachute 5s  infinite ease-in-out;
  }
.test2 img{
    width: 40px;
    height: 40px;

}
  .test3{
    width: 40px;
	height: 40px;
	position: absolute;
	left: 65%;
    top: -200px;
	font-size: 100px;
	animation: parachute 5s  infinite ease-in-out;
  }
.test3 img{
    width: 40px;
    height: 40px;

}

@keyframes parachute {
    0% {
            transform: rotate(40deg)
                       translate(50, 250px);
                    
        }
    
      30% {
            transform: 
                    rotate(-20deg)
                       translate(100px, 350px);
        }
      60% {
            transform: 
                    rotate(20deg)
                       translate(150px, 400px); 
        }
      
      90% {
        transform: 
          rotate(-20deg)
        translate(160px, 550px);
      }
      100% {
        transform: 
          rotate(0deg)
        translate(160px, 550px);    
      }
      